*{
    font-family: 'Times New Roman', Times, serif;
    background-color: lightgray;
}




.titulo{
    font-size: 60px;
    margin: 30px 0 0 0;
    text-align: center;
    color:red;
    border-top: thick 30px;
    border-top-color: red;
    
    


}
.destacado{
    margin: 0px;
    padding: 10px;
    font-size: 30px;
    text-align: left;
    border-top: dashed red;
    border-right: dashed red;
    border-left: dashed red;
    border-bottom: dashed red; 
}
.noticias{
    font-size: 40px;
    margin: 5px;
    text-align:center;
}
