*{background-color: coral;
font-family: Verdana, Geneva, Tahoma, sans-serif;
}


h1{color: cornsilk;
    text-align: center;
    
    border: dashed snow
}

button{text-align: center;
border-width: 5px;
border:inset;
}

